<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Happy Valentine's</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&family=Dancing+Script&display=swap" rel="stylesheet">
</head>

<audio id="background-music" loop>
    <source src="../static/Cigarettes_After_Sex_-_Sweet_(mp3.pm).mp3" type="audio/mpeg">
</audio>

<script>
    const music = document.getElementById("background-music");

    document.addEventListener("click", function startMusic() {
        music.play().catch(() => {});
        document.removeEventListener("click", startMusic);
    });

    document.querySelector(".spotify-wrapper").addEventListener("mouseenter", function() {
        music.pause();
    });
</script>

<body>

<section class="hero">
    <h1>
        Happy <br>
        Valentine's
    </h1>

    <a href="#memories" class="envelope">
        <div class="envelope-box">
            <div class="envelope-flap"></div>
            <div class="heart">❤️</div>
        </div>
        <p class="click-text">click me!!!</p>
    </a>
</section>

<!-- ❤️ SECTION 2: MEMORIES -->
<section id="memories" class="memories">
    <h2>Our Memories</h2>

    <div class="memory-container">
        <div class="memory">
            <img src="../static/images/photo_2026-01-24_01-58-03.jpg" alt="">
            <p>Our very first meeting and first photo. I love remembering that day so much</p>
        </div>

        <div class="memory">
            <img src="../static/images/photo_2026-01-24_02-04-51.jpg" alt="">
            <p>Just the two of us in Alau. We're terribly fed up with photographers ahahah</p>
        </div>

        <div class="memory">
            <img src="../static/images/photo_2026-02-11_10-15-42.jpg" alt="">
            <p>Every time I watch a movie with you, it feels like I'm immersed in their world with you</p>
        </div>
    </div>
</section>

<!-- ❤️ SECTION 3: SONG -->
<section class="song">
    <h2>Song For You</h2>

    <div class="spotify-wrapper">
        <iframe
            data-testid="embed-iframe"
            style="border-radius:12px"
            src="https://open.spotify.com/embed/track/3z9OnsnvM6SFN2dzrSDdVO?utm_source=generator"
            width="60%"
            height="352"
            frameBorder="0"
            allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
            loading="lazy">
        </iframe>
    </div>
</section>

<!-- ❤️ SECTION 4: LETTER -->
<section class="letter-section">
    <div class="letter-box">
        <h3>Dear Adiya...</h3>

        <p>
            I didn't even notice how it happened.
            Love for you came unexpectedly, quietly, without warning
            and suddenly became the most important thing in my life.
        </p>

        <p>
            Now I can't imagine my days without you.
            You are my warmth, my peace — the person without whom I cannot live.
            Without you, everything seems empty.
        </p>

        <p>
            And since fate brought me together so unexpectedly...
        </p>

        <h2 class="question">Will you be my valentine? ❤️</h2>
    </div>
</section>

</body>
</html>
